@font-face {
    font-family: Nunito;
    font-style: normal;
    font-weight: 400;
    src: local(''), url('/fonts/nunito-v23-latin-regular.woff2') format('woff2'), url('/fonts/nunito-v23-latin-regular.woff') format('woff')
}

@font-face {
    font-family: Nunito;
    font-style: normal;
    font-weight: 700;
    src: local(''), url('/fonts/nunito-v23-latin-700.woff2') format('woff2'), url('/fonts/nunito-v23-latin-700.woff') format('woff')
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

::selection {
    background: #9121b5;
    color: #fff
}

body,
html {
    width: 100%;
    height: 100%
}

body,
p {
    color: #ddd;
    font: 400 1rem/1.75rem Nunito
}

.center {
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.popup {
    width: auto;
    height: auto;
    padding: 30px 30px;
    background: #21172b;
    border-radius: 10px;
    box-sizing: border-box;
    z-index: 4;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%) scale(0.5);
    transition: opacity 300ms ease-in-out,
                top 1s ease-in-out,
                transform 1s ease-in-out,
                visibility 1s ease-in-out;
}

.popup.active {
    opacity: 1;
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.popup .qrcode {
    display: inline-block;
    max-width: 75%;
    max-height: 75%;
    width: auto;
    height: auto;
    border-radius: 5px;
    margin-bottom: 25px;
}

.popup .content {
    height: auto;
}

.popup .content .title {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px
}

.popup .content .crypto-address {
    cursor: pointer;
    word-wrap: break-word;
    font-size: .9rem;
    font-weight: 700;
    color: #aaa;
    margin-bottom: 10px;
}

.popup .content .message {
    font-size: 1.5rem;
    font-weight: 700;
    color: #eee;
    margin-bottom: 10px;
    transition: all 100ms ease-in-out;
}

.popup .content .dismiss-btn {
    margin-top: 15px;
}

.popup .content .dismiss-btn button {
    padding: 10px 20px;
    background: #0c0414;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 700;
    outline: none;
    border: transparent solid 2px;
    border-radius: 10px;
    transition: all 150ms ease-in-out;
}

.popup .content .dismiss-btn button:hover {
    background: #21172b;
    color: #9f58f2;
    border: #9f58f2 solid 2px;
}

.popup > div {
    position: relative;
    top: 10px;
    opacity: 0;

}

.popup.active > div {
    top:0px;
    opacity: 1;
}

.popup .content > div {
    position: relative;
    top: 10px;
    opacity: 0;

}

.popup.active .content > div {
    top:0px;
    opacity: 1;
}

.popup .content .title { opacity: 0; transition: all .3s ease-in-out 50ms; }
.popup .content .crypto-address { opacity: 0; transition: all .3s ease-in-out 100ms; }
.popup .content .message { opacity: 0; transition: all .3s ease-in-out 150ms; }
.popup .content .dismiss-btn { opacity: 0; transition: all .3s ease-in-out 200ms; }

.popup.active .content .title { transition: all .3s ease-in-out 50ms; }
.popup.active .content .crypto-address { transition: all .3s ease-in-out 100ms; }
.popup.active .content .message { transition: all .3s ease-in-out 150ms; }
.popup.active .content .dismiss-btn { transition: all .3s ease-in-out 200ms; }

.p-large {
    font: 400 1.125rem/1.875rem Nunito
}

.p-large-padded {
    font: 400 1.125rem/1.875rem Nunito;
    margin-top: 6rem;
}

.p-small {
    font: 400 .875rem/1.5rem Nunito
}

.p-heading {
    margin-bottom: 4rem;
    text-align: center
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    margin-bottom: 1rem
}

ul {
    list-style: none
}

h1 {
    color: #fff;
    font: 700 2.625rem/3.375rem Nunito
}

h2 {
    color: #fff;
    font: 700 2.125rem/2.75rem Nunito
}

h3 {
    color: #fff;
    font: 700 1.75rem/2.375rem Nunito
}

h4 {
    color: #fff;
    font: 700 1.25rem/1.75rem Nunito
}

h5 {
    color: #fff;
    font: 700 1.125rem/1.625rem Nunito
}

h6 {
    color: #fff;
    font: 700 1rem/1.5rem Nunito
}

.versions-container {
    margin: 0 auto;
    padding: 0 15px;
}

.versions-text-container {
    display: block;
    display: flex;
    justify-content: center;
}

.category {
    border: 10px solid #9121b5;
}

.h-center {
    text-align: center
}


.li-space-lg li {
    margin-bottom: .625rem
}

a {
    color: #fff;
    text-decoration: none
}

a:disabled {
    color: #fff;
    text-decoration: none
}

a:hover {
    color: #ddd;
    text-decoration: underline
}

a.purple {
    color: #9f58f2
}

.btn-solid-lg {
    display: inline-block;
    padding: 1.5rem 2.375rem 1.5rem 2.375rem;
    border: .125rem solid #9f58f2;
    margin: .5rem;
    border-radius: 2rem;
    background-color: #9f58f2;
    color: #fff;
    font: 700 .875rem/0 Nunito;
    text-decoration: none;
    transition: all .2s
}

.btn-solid-lg:hover {
    border: .125rem solid #9f58f2;
    margin: .5rem;
    background-color: transparent;
    color: #9f58f2;
    text-decoration: none
}

.btn-solid-lg .fab {
    margin-right: .5rem;
    font-size: 1.25rem;
    line-height: 0;
    vertical-align: top
}

.btn-solid-lg .fab.fa-google-play {
    font-size: 1rem
}

.btn-unavaiable-lg {
    display: inline-block;
    padding: 1.5rem 2.375rem 1.5rem 2.375rem;
    border: .125rem solid #8060a5;
    margin: .5rem;
    border-radius: 2rem;
    background-color: #8060a5;
    color: #fff;
    font: 700 .875rem/0 Nunito;
    text-decoration: none
}

.btn-unavaiable-lg .fab {
    margin-right: .5rem;
    font-size: 1.25rem;
    line-height: 0;
    vertical-align: top
}

.btn-unavaiable-lg .fab.fa-google-play {
    font-size: 1rem
}

.type-release {
    display: inline-block;
    padding: 3rem 4rem 3rem 4rem;
    border: .125rem;
    margin: .5rem;
    border-radius: 2rem;
    background-image: linear-gradient(110deg, #9f58f2, #3767e5);
    background-clip: text;
    font: 700 3rem/0 Nunito;
}

.type-beta {
    display: inline-block;
    padding: 3rem 4rem 3rem 4rem;
    border: .125rem;
    margin: .5rem;
    border-radius: 2rem;
    background-image: linear-gradient(110deg, #e09289, #b89fe3);
    background-clip: text;
    color: #140604 !important;
    font: 700 3rem/0 Nunito;
}

.showlink {
    cursor: pointer;
    white-space: pre;
    color: #9f58f2;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.showlink:hover {
    color: #fff;
    text-decoration: none;
}

.fakelink {
    cursor: pointer;
    white-space: pre;
    color: #9f58f2;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.fakelink:hover {
    color: #fff;
    text-decoration: none;
}



.versions {
    white-space: pre;
    display: block;
    display: flex;
    justify-content: center;
}

.btn-outline-lg {
    display: inline-block;
    padding: 1.5rem 2.375rem 1.5rem 2.375rem;
    border: .125rem solid #fff;
    margin: .5rem;
    border-radius: 2rem;
    background-color: transparent;
    color: #fff;
    font: 700 .875rem/0 Nunito;
    text-decoration: none;
    transition: all .2s
}

.btn-outline-lg:hover {
    border: .125rem solid #fff;
    background-color: #fff;
    color: #fff;
    text-decoration: none
}

.btn-outline-sm {
    display: inline-block;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border: .125rem solid #fff;
    border-radius: 2rem;
    background-color: transparent;
    color: #fff;
    font: 700 .875rem/0 Nunito;
    text-decoration: none;
    transition: all .2s
}

.btn-outline-sm:hover {
    border: .125rem solid #fff;
    background-color: #fff;
    color: #fff;
    text-decoration: none
}

@-webkit-keyframes tada {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }

    10%,
    20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        -ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg)
    }

    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg)
    }

    40%,
    60%,
    80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg)
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

@keyframes tada {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }

    10%,
    20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        -ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg)
    }

    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg)
    }

    40%,
    60%,
    80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg)
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes fadeOut {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

.spinner-wrapper {
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #0c0414
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3.75rem;
    height: 1.25rem;
    margin: -.625rem 0 0 -1.875rem;
    text-align: center
}

.spinner>div {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background-color: #9f58f2;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both
}

.spinner .bounce1 {
    -webkit-animation-delay: -.32s;
    animation-delay: -.32s
}

.spinner .bounce2 {
    -webkit-animation-delay: -.16s;
    animation-delay: -.16s
}

@-webkit-keyframes sk-bouncedelay {

    0%,
    100%,
    80% {
        -webkit-transform: scale(0)
    }

    40% {
        -webkit-transform: scale(1)
    }
}

@keyframes sk-bouncedelay {

    0%,
    100%,
    80% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0)
    }

    40% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
}

.navbar-custom {
    background-color: #0c0414;
    box-shadow: 0 .0625rem .375rem 0 rgba(0, 0, 0, .1);
    font: 700 .875rem/.875rem Nunito;
    transition: all .2s
}

.navbar-custom .navbar-brand.marvil-logo-image img {
    width: 9rem;
    height: 3.5rem
}

.navbar-custom .navbar-brand.centr-logo-image img {
    width: 9.75rem;
    height: 3.25rem
}

.navbar-custom .navbar-brand.logo-text {
    font: 700 2rem/1rem Nunito;
    color: #fff;
    text-decoration: none
}

.navbar-custom .navbar-nav {
    margin-top: .75rem;
    margin-bottom: .5rem
}

.navbar-custom .nav-item .nav-link {
    padding: .625rem .75rem;
    color: #fff;
    text-decoration: none;
    transition: all .2s ease
}

.navbar-custom .nav-item .nav-link:hover {
    color: #9f58f2
}

@keyframes fadeDropdown {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.navbar-custom .nav-item .btn-outline-sm {
    margin-top: .125rem;
    margin-bottom: 1.375rem;
    margin-left: .5rem;
    border: .125rem solid #9f58f2;
    color: #9f58f2
}

.navbar-custom .nav-item .btn-outline-sm:hover {
    border: .125rem solid #9f58f2;
    background-color: #9f58f2;
    color: #fff
}

.navbar-custom .navbar-toggler {
    padding: 0;
    border: none;
    color: #fff;
    font-size: 2rem;
    font-family: Nunito
}

.navbar-custom button[aria-expanded=false] .navbar-toggler-awesome.fas.fa-xmark {
    display: none
}

.navbar-custom button[aria-expanded=false] .navbar-toggler-awesome.fas.fa-bars {
    display: inline-block
}

.navbar-custom button[aria-expanded=true] .navbar-toggler-awesome.fas.fa-bars {
    display: none
}

.navbar-custom button[aria-expanded=true] .navbar-toggler-awesome.fas.fa-xmark {
    display: inline-block;
    margin-right: .125rem
}

.header {
    position: relative;
    overflow: hidden;
    padding-top: 8rem;
    padding-bottom: 3rem;
    background-color: #0c0414;
    text-align: center
}

.header .text-container {
    margin-bottom: 3rem;
}

.header h1 {
    margin-bottom: 1rem
}

.header .p-heading {
    margin-bottom: 2rem
}

.header .btn-solid-lg {
    margin-right: .5rem;
    margin-bottom: 1.125rem;
    margin-left: .5rem
}

.header .deco-blue-circle,
.header .deco-green-diamond,
.header .deco-purple-circle-1,
.header .deco-purple-circle-2,
.header .deco-yellow-circle {
    display: none
}

.cards-1 {
    padding-top: 1rem;
    padding-bottom: 2rem;
    background-color: #0c0414;
    text-align: center;
    align-items: center;
    align-content: center
}

.cards-1 .card {
    max-width: 11rem;
    margin-right: auto;
    margin-bottom: 3rem;
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent
}

.cards-1 .card-image {
    width: 7.5rem;
    height: 7.5rem;
    margin-right: auto;
    margin-bottom: 1.5rem;
    margin-left: auto;
    border-radius: 50%;
    background-color: #ebe7fa
}

.cards-1 .card-image .fas {
    color: #e1f2fa;
    font-size: 3.25rem;
    line-height: 7.5rem;
    font-family: Nunito
}

.cards-1 .card-image.blue {
    background-color: #e1f2fa
}

.cards-1 .card-image.blue .fas {
    color: #50b9e8
}

.cards-1 .card-body {
    padding: 0
}

.cards-1 .card-title {
    margin-bottom: .5rem
}

.basic-1 {
    padding-top: 3rem;
    padding-bottom: 8rem;
    background-color: #0c0414
}

.basic-1 .image-container {
    margin-bottom: 1rem
}

.basic-1 h2 {
    margin-bottom: 1.5rem
}

.basic-2 {
    padding-top: 7rem;
    padding-bottom: 5rem;
    background-color: #0c0414
}

.basic-2 h2 {
    margin-bottom: .875rem;
    text-align: center
}

.basic-2 .li-space-lg li {
    margin-bottom: 1.375rem
}

.basic-2 img {
    display: block;
    width: 100%;
    max-width: 20rem;
    margin-right: auto;
    margin-bottom: 5rem;
    margin-left: auto
}

.slider {
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-color: #21172b
}

.header .slider {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 16px;
    background-color: #21172b
}

.header img {
    display: block;
    max-height: 512px;
    width: auto;
    height: auto
}

.slider .slider-container {
    position: relative
}

.slider .swiper-container {
    position: static;
    width: 90%;
    text-align: center
}

.cards-2 {
    padding-top: 7rem;
    padding-bottom: 3rem;
    background-color: #0c0414;
    text-align: center
}

.cards-2 h2 {
    margin-bottom: 3.25rem
}

.cards-2 .card {
    max-width: 22rem;
    margin-right: auto;
    margin-bottom: 4.75rem;
    margin-left: auto;
    border: 0;
    background-color: transparent
}

.cards-2 .card-body {
    padding: 0
}

.cards-2 .image-container {
    margin-bottom: 5.25rem;
    padding: 2.5rem 2rem 0 2rem;
    border-radius: .5rem;
    background-color: #fff
}

.cards-2 .image-container img {
    margin-right: 1rem;
    margin-bottom: 2.5rem;
    margin-left: 1rem
}

.basic-3 {
    position: relative;
    overflow: hidden;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-color: #0c0414;
    text-align: center
}

.basic-3 .image-container {
    margin-bottom: 2rem
}

.basic-3 .p-large {
    margin-bottom: 1.75rem
}

.basic-3 .btn-solid-lg {
    margin-right: .5rem;
    margin-bottom: 1.125rem;
    margin-left: .5rem
}

.basic-3 .deco-blue-circle,
.basic-3 .deco-green-diamond,
.basic-3 .deco-purple-circle-1,
.basic-3 .deco-purple-circle-2,
.basic-3 .deco-yellow-circle {
    display: none
}

footer {
    padding-top: 5.5rem;
    padding-bottom: 4.5rem;
    background-color: #0c0414;
    text-align: center
}

footer img {
    max-width: 100%;
    vertical-align: middle
}

footer .logo-image {
    display: block;
    width: 160px;
    height: 100%;
    margin-bottom: .75rem
}

footer .fab,
footer p,
footer ul li a,
footer ul li a:hover {
    color: #fff;
    opacity: .7;
    text-decoration: none
}

footer ul {
    margin-bottom: 2.25rem
}

footer .fab {
    margin-right: .5rem;
    margin-left: .5rem;
    font-size: 2rem
}

footer p {
    margin-bottom: 1.5rem
}

.footer .footer-col {
    display: inline-block;
    width: 14.5rem;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
    vertical-align: top
}

.footer h5 {
    margin-bottom: .625rem
}

.footer .li-space-lg li {
    margin-bottom: .375rem
}

.copyright {
    padding-bottom: .75rem;
    background-color: #0c0414;
    text-align: center
}

.copyright a,
.copyright p {
    color: #999
}

.copyright a {
    text-decoration: none
}

.changelog {
    padding-bottom: .75rem;
    background-color: #0c0414;
    text-align: center
}

.changelog a,
.changelog p {
    color: #999
}

a.back-to-top {
    position: fixed;
    z-index: 2;
    right: .75rem;
    bottom: .75rem;
    display: none;
    width: 2.625rem;
    height: 2.625rem;
    border-radius: 1.875rem;
    background: #9f58f2 url(/images/up-arrow.png) no-repeat center 47%;
    background-size: 1.125rem 1.125rem;
    text-indent: -9999px;
    transition: all .2s
}

a:hover.back-to-top {
    background-color: #8e41e6;
    transition: all .2s
}

@media only screen and (max-device-width:480px)
{
    .popup {
        width: auto;
        height: auto;
        max-width: 75%;
        max-height: 75%;
    }
    .popup .title { font-size: 1.5rem; }
}

@media (min-width:768px) {

    .header .text-container {
        margin-bottom: 6rem
    }

    .header .btn-solid-lg {
        margin-bottom: 0;
        margin-left: 0
    }

    .cards-1 .card {
        display: inline-block;
        margin-right: 1rem;
        margin-left: 1rem;
        width: 11rem;
        max-width: 100%;
        vertical-align: top
    }

    img {
        border-radius: 1rem
    }

    .basic-3 .btn-solid-lg {
        margin-bottom: 0;
        margin-left: 0
    }
}

@media (min-width:992px) {
    
    .container {
        max-width: 1140px
    }

    .grid {
        grid-template-columns: repeat(2, 1fr)
    }

    .grid-3 {
        grid-template-columns: repeat(3, 1fr)
    }

    .p-heading {
        width: 80%;
        margin-right: auto;
        margin-left: auto
    }

    h1 {
        font-size: 3rem;
        line-height: 3.875rem;
        font-family: Nunito-Bold;
        font-weight: 700
    }

    h2 {
        font-size: 2.5rem;
        line-height: 3.25rem;
        font-family: Nunito
    }

    .navbar-custom {
        padding: 2.125rem 1.5rem 2.125rem 2rem;
        background: 0 0;
        box-shadow: none
    }

    .navbar-custom .navbar-nav {
        margin-top: 0;
        margin-bottom: 0
    }

    .navbar-custom .nav-item .nav-link {
        padding: .25rem .75rem
    }

    .navbar-custom.top-nav-collapse {
        padding: .5rem 1.5rem .5rem 2rem;
        background-color: #0c0414;
        box-shadow: 0 .0625rem .375rem 0 rgba(0, 0, 0, .1)
    }

    .navbar-custom.top-nav-collapse .nav-item .nav-link {
        color: #fff
    }

    .navbar-custom.top-nav-collapse .nav-item .nav-link:hover {
        color: #9f58f2
    }

    .navbar-custom .nav-item .btn-outline-sm {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: .625rem
    }

    .header {
        padding-top: 12rem
    }

    .header h1 {
        font-size: 4rem;
        line-height: 4.875rem;
        letter-spacing: -1px;
        font-family: Nunito
    }

    .header .deco-purple-circle-1 {
        position: absolute;
        top: 26rem;
        left: -12rem;
        display: block;
        width: 22rem;
        height: 22rem
    }

    .header .deco-purple-circle-2 {
        position: absolute;
        top: 19rem;
        right: -12rem;
        display: block;
        width: 20rem;
        height: 20rem
    }

    .header .deco-blue-circle {
        position: absolute;
        top: 28rem;
        left: 5rem;
        display: block;
        width: 5rem;
        height: 5rem
    }

    .header .deco-yellow-circle {
        position: absolute;
        top: 9rem;
        right: 7rem;
        display: block;
        width: 1.5rem;
        height: 1.5rem
    }

    .header .deco-green-diamond {
        position: absolute;
        top: 9rem;
        left: 4rem;
        display: block;
        width: 1rem;
        height: 1rem
    }

    .basic-1 .image-container {
        margin-bottom: 0
    }

    .basic-2 {
        padding-bottom: 8rem
    }

    .basic-2 .li-space-lg li {
        margin-bottom: 1.875rem
    }

    .basic-2 img {
        max-width: 100%;
        margin-bottom: 0
    }

    .cards-2 .card {
        display: inline-block;
        width: 18.125rem;
        max-width: 100%;
        margin-right: .5rem;
        margin-left: .5rem;
        vertical-align: top
    }

    .cards-2 .card:first-of-type {
        margin-left: 0
    }

    .cards-2 .card:last-of-type {
        margin-right: 0
    }

    .basic-3 .p-large {
        width: 51rem;
        margin-right: auto;
        margin-left: auto
    }

    .basic-3 .deco-purple-circle-1 {
        position: absolute;
        top: 23rem;
        left: -12rem;
        display: block;
        width: 20rem;
        height: 20rem
    }

    .basic-3 .deco-purple-circle-2 {
        position: absolute;
        top: 7rem;
        right: -12.5rem;
        display: block;
        width: 20rem;
        height: 20rem
    }

    .basic-3 .deco-blue-circle {
        position: absolute;
        top: 15rem;
        right: 5rem;
        display: block;
        width: 5rem;
        height: 5rem
    }

    .basic-3 .deco-yellow-circle {
        position: absolute;
        top: 31rem;
        left: 6.5rem;
        display: block;
        width: 2.5rem;
        height: 2.5rem
    }

    .basic-3 .deco-green-diamond {
        position: absolute;
        top: 8rem;
        right: 12.5rem;
        display: block;
        width: 1rem;
        height: 1rem
    }

    footer {
        text-align: left
    }

    footer p,
    footer ul {
        margin-bottom: 0
    }

    footer ul {
        text-align: center
    }

    footer .grid div:nth-of-type(3) {
        text-align: right
    }

    footer .fab {
        margin-right: .75rem;
        margin-left: .75rem
    }
}

@media (min-width:1200px) {

    .popup {
        display: flex;
        flex-direction: row;
    }

    .popup .qrcode{
        margin-bottom: 0px;
        width: 40%;
        height: 40%;
    }

    /* center .popup .content vertically but not horizontally */

    .popup .content {
        flex: auto;
        align-self: center;
    }

    .container {
        max-width: 1140px
    }

    .grid {
        grid-template-columns: repeat(2, 1fr)
    }

    .grid-3 {
        grid-template-columns: repeat(3, 1fr)
    }

    .header .image-container {
        width: 60rem;
        height: 30rem;
        margin-right: auto;
        margin-left: auto
    }

    .header .deco-purple-circle-1 {
        top: 14rem;
        left: -27rem;
        width: 40rem;
        height: 40rem
    }

    .header .deco-purple-circle-2 {
        right: -15rem;
        width: 25.5rem;
        height: 25.5rem
    }

    .header .deco-blue-circle {
        top: 29rem;
        left: 10rem;
        width: 6rem;
        height: 6rem
    }

    .header .deco-yellow-circle {
        top: 13.5rem;
        right: 8%;
        width: 2.5rem;
        height: 2.5rem
    }

    .header .deco-green-diamond {
        top: 7rem;
        left: 18%;
        width: 1.25rem;
        height: 1.25rem
    }

    .cards-1 .card:first-of-type {
        margin-left: 0
    }

    .cards-1 .card:last-of-type {
        margin-right: 0
    }

    .basic-1 .image-container {
        margin-right: 2.5rem;
        width: 31.0625rem;
        height: 36.625rem
    }

    .basic-1 .text-container {
        margin-top: 5rem;
        margin-left: 2.5rem
    }

    .basic-2 .li-space-lg li {
        margin-bottom: 2.875rem
    }

    .basic-2 img {
        width: 18.75rem;
        height: 39.8125rem
    }

    .slider .swiper-container {
        width: 100%
    }

    .cards-2 .card {
        width: 21rem;
        margin-right: 1.375rem;
        margin-left: 1.375rem
    }

    .cards-2 .image-container img {
        margin-right: 1.25rem;
        margin-left: 1.25rem
    }

    .basic-3 .image-container {
        width: 57.8125rem;
        height: 36.0625rem;
        margin-right: auto;
        margin-left: auto
    }

    .basic-3 .deco-purple-circle-1 {
        top: 20rem;
        left: -18rem;
        width: 30rem;
        height: 30rem
    }

    .basic-3 .deco-purple-circle-2 {
        top: 3rem;
        right: -20rem;
        width: 30rem;
        height: 30rem
    }

    .basic-3 .deco-blue-circle {
        top: 17rem;
        right: 7rem;
        width: 6rem;
        height: 6rem
    }

    .basic-3 .deco-yellow-circle {
        top: 33rem;
        left: 10rem;
        width: 3.5rem;
        height: 3.5rem
    }

    .basic-3 .deco-green-diamond {
        top: 5rem;
        right: 25%;
        width: 1.5rem;
        height: 1.5rem
    }
}